<h1>It works</h1>
<p>env:<%= Rails.env %></p>
<p><%= "sample image" %><br><%= image_tag 'sample.png' %></p>

<p>user</p>
<ul>
  <li>2015.5.14 22:15 テスト２回目</li>
  <li>2015.5.14 20:50 初テスト</li>
  <% @users.each do |user| %>
  <li><%= user.name %></li>
  <% end %>
</ul>

